# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.venv/
env/
ENV/

# Streamlit cache
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
